$font: 'Lato', sans-serif;
$font_size: 14px;


$primary-dark: #4d545e;
$primary-dark2: #586474;
$primary-light: #F9F9F9;
$primary-blue: #5bc0de;

$primary-grey:#DFDFDF;
$primary-grey2:#FAFBFC;
$primary-orange: #f89406;
$primary-red: #ee5f5b;
$primary-green:#62c462;
$primary-yellow:#fff457;

$padding:15px;
$margin-bottom:15px;

$screen-min: 620px;

